.contact-header{
	margin-top: 200px;
	min-height: 300px;
	position: absolute;
	justify-content: center;
	align-content: center;
	align-items: center;
	border:  2px dashed red;
}
section{
    margin-top: 55px;
}
.cards{
    background-color:  #00acee;
    text-align: center;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cards >h3{
    font-size: 15px;
}
.cards >p{
    font-size: 12px;
    color: white;
}
.cards:hover{
    box-shadow: 5px 8px 10px grey;
}
.cards >a{
    color: white;
}
.social-media{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0px 5px;
}
.social-media a img{
    height: 100%;
    border-radius: 50%;
}
.message{
    text-align: center;
    padding: 15px;
}

.gridmsg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.gridmsg input{
    padding: 7px;
    border: 0;
    border-bottom:1px solid  grey;
    box-shadow: 3px 5px 7px grey;
    outline: none;
    margin-bottom: 15px;
}
.gridmsg textarea{
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: 3px 5px 7px grey;
    border: 0;
    padding: 7px;
    outline: none;
}
.submitbtn{
    text-align: center;
    background-color: rgb(118, 20, 131);
    color: white;
    padding: 10px 25px;
    border-radius: 12px;
    outline: none;
    border: 0;
    position: relative;
    right: -100px;
    margin-top: 10px;
    
}
footer{
    padding: 20px 10px 60px;
    height: minmax(210px, auto);
    background-color: rgb(27, 27, 65);
    text-align: center;
    color: white;
    font-family: serif,monospace;
}
footer >p{
    margin-bottom: 10px;
}